.App {
  text-align: center;
  width: 350px;
}

.container {
  /* padding: 10px 50px 40px 50px; */
  color: white;
  background-color: black;
}

.Tile {
  display: inline-block;
  margin: 1px;
  border: solid 1px #555;
  width: 10px;
  height: 10px;

  &.block-type-i {
    background-color: deepskyblue;
  }
  &.block-type-o {
    background-color: yellow;
  }
  &.block-type-s {
    background-color: mediumseagreen;
  }
  &.block-type-z {
    background-color: red;
  }
  &.block-type-j {
    background-color: royalblue;
  }
  &.block-type-l {
    background-color: goldenrod;
  }
  &.block-type-t {
    background-color: blueviolet;
  }
}

.TileLine {
  line-height: 0;
}
